<div class="well">
    <h1 class="center h1-header">Manage users</h1>
    <div class="table-wrapper">
        <table class="table table-fixed">
            <thead>
                <th id="left-header" ng-click="sortUsers()" ng-class="{'sortorderRevert': order, 'sortorder': !order}">User</th>
                <th id="right-header">Action</th>
            </thead>
            <tr ng-repeat="p in persons | orderBy: 'lastName':order">
                <td>
                    <a ui-sref="tdpr.interviewer.home({isRecruiter : true, id : p.id, personName : p.firstName + ' ' + p.lastName})">
                        {{ p.firstName + " " + p.lastName }} <a ui-sref="tdpr.interviewer.details({isRecruiter: true, id: p.id, personName: p.firstName + ' ' + p.lastName})"><span class="glyphicon glyphicon-pencil" uib-tooltip="Edit personal details"></span></a>
                    </a>
                </td>
                <td>
                    <button class ="btn btn-primary" ng-click="managePerson( p )" ng-class="{'btn-danger': p.active}">
                        <span ng-if="p.active">disable account</span>
                        <span ng-if="!p.active">enable account</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>