<br>
<div class="well center">
    <h1 id="interviewer-details-h1">All candidates</h1>

    <div class="row options">
        <div class="col-md-4 col-md-offset-4">
            <label class="control-label">Notes:
                <select class="form-control" ng-model="currentRecruiter"
                        ng-options="recruiter.lastName for recruiter in recruitersFilter track by recruiter.id">
                </select>
            </label>

            <a class="btn btn-primary" role="button" ><span class="glyphicon glyphicon-plus"></span> Add note</a>
            <a class="btn btn-default" role="button" ><span class="glyphicon glyphicon-refresh"></span> Refresh notes</a>
        </div>
        <div class="col-md-9 col-md-offset-2">
            <textarea class="form-text-area form-control" name="note" ng-model="currentNote"></textarea>
        </div>
    </div>

    <div class="row options">

            <div class="col-md-2 col-md-offset-2">
                <label class="control-label" for="selected-recruiter">Recruiter filter:</label>
            </div>
            <div class="col-md-7">
                <select id="selected-recruiter" class="form-control" ng-model="currentRecruiter"
                        ng-options="recruiter.lastName for recruiter in recruitersFilter track by recruiter.id">
                </select>
            </div>
    </div>

    <div class="row options">
        <div class="col-md-9 col-md-offset-2">
            <table id="report-table">
                <thead class="column-heading">
                <tr>
                    <td class="day-th" ng-click="sortBy(column)" ng-repeat="(column, value) in columnMap"> {{value.columnName}}
                        <span class="sort-order" ng-show="sortColumn===column" ng-class="{sortReverse: value.reverse}"></span></td>
                    <td class="day-th">Actions</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="candidate in candidates | filterByRecruiter: currentRecruiter | orderBy : sortColumn : sortReverse ">
                    <td class="slot hour-cell">{{candidate.recruiter.firstName + ' ' + candidate.recruiter.lastName}}</td>
                    <td class="slot hour-cell">{{candidate.lastName + ' ' + candidate.firstName}}</td>
                    <td class="slot hour-cell">{{candidate.position}}</td>
                    <td class="slot hour-cell" ng-dblclick="swapLimitsForCandidate(candidate)"><span uib-tooltip="{{candidate.note}}">{{candidate.note | cut: true: candidateLimits[candidate.id]}}</span></td>
                    <td class="slot hour-cell">
                        <a class="cursor-pointer" ng-click="deleteCandidate(candidate)"><span class="glyphicon glyphicon-remove" uib-tooltip="Delete candidate"></span></a>
                        | <a class="cursor-pointer" ng-click="showPopupForEdit(candidate)"><span class="glyphicon glyphicon-edit" uib-tooltip="Edit candidate"></span></a>
                        | <a class="cursor-pointer" ui-sref='tdpr.recruiter.home({candidateId: candidate.id, candidate: candidate})'><span class="glyphicon glyphicon-calendar" uib-tooltip="Go to schedule"></span></a>
                    </td>

                </tbody>
            </table>
        </div>
    </div>

    <a class="btn btn-primary" role="button" ng-click="showPopupForAdd()"><span class="glyphicon glyphicon-plus"></span> Add new candidate</a>
    <a class="btn btn-default" role="button" ui-sref="tdpr.recruiter.home"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
    <a class="btn btn-default" role="button" ng-click="refreshCandidates()"><span class="glyphicon glyphicon-refresh"></span> Refresh</a>
</div>

