<br>
<div class="well center">
    <h1 id="interviewer-details-h1">Add new interviewer</h1>

    <form class="form-horizontal interviewer-form" name="interviewerForm" role="form">
        <hr>
        <job-check-boxes></job-check-boxes>
        <hr>
        <div class="form-group">
            <label class="col-md-4 control-label">Band level:</label>
            <div class="col-md-8">
                <div class="ui-select">
                    <select class="form-control" ng-model="person.bandLevel" ng-options="key as value for (key, value) in BandLevelEnum" ng-init="person.bandLevel = '6';">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">E-mail:</label>
            <div class="col-md-8">
                <input class="form-control input" name="email" type="email" ng-model="person.email" ng-maxlength="100" required/>
            </div>
            <p class="int-err center" ng-show="interviewerForm.email.$error.maxlength">Email cannot have more than 100 characters.</p>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">First name:</label>
            <div class="col-md-8">
                <input class="form-control input" name="firstName" type="text" ng-model="person.firstName" ng-maxlength="35" required/>
            </div>
            <p class="int-err center" ng-show="interviewerForm.firstName.$error.maxlength">First name cannot have more than 35 characters.</p>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Last name:</label>
            <div class="col-md-8">
                <input class="form-control input" name="lastName" type="text" ng-model="person.lastName" ng-maxlength="35" required/>
            </div>
            <p class="int-err center" ng-show="interviewerForm.lastName.$error.maxlength">Last name cannot have more than 35 characters.</p>
        </div>
        <div class="center btn-wrapper">
            <input class="btn btn-primary" type="submit" ng-click="interviewerForm.$valid ? create(person) : showError()" value="Submit"
               ng-disabled="form.$invalid || createInterviewerPromise.resolved"/>
            <input class="btn btn-default" type="button" value="Cancel" ng-click="goHome()">
        </div>
    </form>
</div>
