<div class="container">

    <h1>TIMETABLE</h1>

    <div class="availabilities-table-container">
        <table id="availabilities-table">
            <thead>
            <tr>
                <td></td>
                <td ng-repeat="day in days">{{day | date: 'EEEE dd.MM.yyyy'}}</td>
            </tr>
            <tr>
                <td></td>
                <td ng-repeat="day in days">
                    <table style="width: 100%;">
                        <tr>
                            <td ng-repeat="slotTime in slotTimes">
                                <span class="rotate">{{slotTime.startTime | limitTo:5}} </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            </thead>
            <tbody>
                <tr person-row slot-times="slotTimes" person="person" days="days" ng-repeat="person in persons"></tr>
            </tbody>
        </table>
    </div>


    <div ui-view="availabilitiesTable"></div>

    <button ng-click="szybkiGuzik(i)">Guzik</button>

    <input type="number" ng-model="i">

</div>