<div class="container">
    <div class="well center">
        <h1>Event Summary</h1>
        <form-group>
            <label>Interviewers:</label>
            <ul>
                <li ng-repeat="interviewer in interview.interviewers">{{interviewer.firstName}} {{interviewer.lastName}}</li>
            </ul>
            <br>
            <label>Interviewee:</label> {{interview.interviewee}}
            <br>
            <label>Time:</label> {{interview.start | date: "HH:mm"}} - {{interview.end | date: "HH:mm"}}
            <br>
            <label>Organizer:</label> {{interview.organizer}}
            <br>
            <button ng-click="scheduleInterview()">Send</button>
            <button ng-click="goHome()">Cancel</button>
        </form-group>
    </div>
</div>