<h1>Add new interviewer</h1>


<div id="errorAlert" ng-show="error">{{error}}</div>
<form novalidate class="simple-form">
E-mail: <input type="email" ng-model="person.email" /><br />
First name: <input type="text" ng-model="person.firstName" /><br />
Last name: <input type="text" ng-model="person.lastName" /><br />

Deweloper?: <input type="radio" ng-model="person.isDev" value="true" />tak
<input type="radio" ng-model="person.isDev" value="false" />nie<br />

Tester?: <input type="radio" ng-model="person.isTest" value="true" />tak
<input type="radio" ng-model="person.isTest" value="false" />nie<br />

Web Ops?: <input type="radio" ng-model="person.isWeb" value="true" />tak
<input type="radio" ng-model="person.isWeb" value="false" />nie<br />

Band level: <input type="text" ng-model="person.bandLevel" /><br />


<input type="submit" ng-click="create(person)" value="Submit" ng-disabled="form.$invalid || createInterviewerPromise.resolved" />

    <img ng-if="createInterviewerPromise.resolved"
         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

</form>
