<br>
<div class="well center">
    <h1 id="interviewer-details-h1">All candidates</h1>

    <div class="row options">
        <div class="col-md-8 col-md-offset-2">
            <table id="report-table">
                <thead class="column-heading">
                <tr>
                    <td class="day-th" ng-click="sortBy(column)" ng-repeat="(column, value) in columnMap">{{value.columnName}}<span class="sort-order" ng-show="sortColumn===column"
                        ng-class="{sortReverse: value.reverse}"></span></td>
                    <td class="day-th">Actions</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="candidate in candidates | orderBy : sortColumn : sortReverse">
                    <td class="slot hour-cell">{{candidate.lastName + ' ' + candidate.firstName}}</td>
                    <td class="slot hour-cell">{{candidate.position}}</td>
                    <td class="slot hour-cell">{{candidate.note}}</td>
                    <td class="slot hour-cell">{{candidate.recruiter.firstName + ' ' + candidate.recruiter.lastName}}</td>
                    <td class="slot hour-cell"><a class="cursor-pointer" ng-click="removeCandidate(candidate)">delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a id="back-btn" ui-sref="tdpr.recruiter.home">Back</a>
</div>

