<table class="my-timetable">
    <thead>
    <tr>
        <th></th>
        <th colspan="{{timeElementsCount}}" data-ng-repeat="day in dayNames track by day.day" ng-click="selectActive(day)">{{day.dayValue.toString()}}</th>
    </tr>
    <tr>
        <th>Interviewer</th>
        <th data-ng-repeat="item in timeElements track by $index" class="tiny-header"><div class="rotate"><span uib-tooltip="{{item.tooltipText}}" tooltip-animation="false" tooltip-append-to-body="true">{{item.text}}</span></div> </th>
    </tr>
    </thead>

    <tbody persons-directive data-selected-person-table="modelInput" data-time-elements="timeElements" data-start-week-day="startDateWeek">
    </tbody>
</table>
