<br>
<div class="well center">
    <h1 id="interviewer-details-h1">All candidates</h1>

    <div class="row options">
        <div class="col-md-8 col-md-offset-2">
            <table id="report-table">
                <thead class="column-heading">
                <tr>
                    <td class="day-th" ng-click="sortBy(column)" ng-repeat="(column, value) in columnMap">{{value.columnName}}<span class="sort-order" ng-show="sortColumn===column"
                        ng-class="{sortReverse: value.reverse}"></span></td>
                    <td class="day-th">Actions</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="candidate in candidates | orderBy : sortColumn : sortReverse">
                    <td class="slot hour-cell">{{candidate.lastName + ' ' + candidate.firstName}}</td>
                    <td class="slot hour-cell">{{candidate.position}}</td>
                    <td class="slot hour-cell">{{candidate.note}}</td>
                    <td class="slot hour-cell">{{candidate.recruiter.firstName + ' ' + candidate.recruiter.lastName}}</td>
                    <td class="slot hour-cell"><a class="cursor-pointer" ng-click="removeCandidate(candidate)">delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <a id="via-service" href="" ng-click="open()">Add new candidate</a>

    <script type="text/ng-template" id="firstDialogId">
        <div class="ngdialog-message">
            <h3>Add new candidate:</h3>


            <form class="form-horizontal interviewer-form" name="candidateForm" role="form">
                <hr>
                <div class="form-group">
                    <label class="col-md-4 control-label">First name:</label>
                    <div class="col-md-8">
                        <input class="form-control input" name="firstName" type="text" ng-model="candidate.firstName"
                               ng-maxlength="35" required/>
                    </div>
                    <p class="int-err center" ng-show="candidateForm.firstName.$error.maxlength">First name cannot
                        have more than 35 characters.</p>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Last name:</label>
                    <div class="col-md-8">
                        <input class="form-control input" name="lastName" type="text" ng-model="candidate.lastName"
                               ng-maxlength="35" required/>
                    </div>
                    <p class="int-err center" ng-show="candidateForm.lastName.$error.maxlength">Last name cannot have
                        more than 35 characters.</p>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Potential Position:</label>
                    <div class="col-md-8">
                        <input class="form-control input" name="position" type="text" ng-model="candidate.position"
                               required/>
                    </div>
                </div>

                <!--<div class="form-group">-->
                    <!--<label class="col-md-4 control-label">Recruiter:</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input class="form-control input" name="position" type="text" ng-model="candidate.recruiter"-->
                               <!--required/>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Note:</label>
                    <div class="col-md-8">
                        <input class="form-control input" name="note" type="text" ng-model="candidate.note"
                               required/>
                    </div>
                </div>
                <hr>

                <div class="center btn-wrapper">
                    <input class="btn btn-primary" type="submit"
                           ng-click="candidateForm.$valid ? create(candidate) : showError()" value="Submit" ng-disabled="form.$invalid"/>
                           <!--ng-disabled="form.$invalid || createInterviewerPromise.resolved"/>-->


                </div>
            </form>

        </div>

    </script>

    <a id="back-btn" ui-sref="tdpr.recruiter.home">Back</a>



</div>

