<br>
<div class="well center">
    <h1 id="interviewer-details-h1">Add new interviewer</h1>

    <form class="form-horizontal interviewer-form" role="form">
        <hr>
        <div class="form-group">
            <label class="control-label col-md-6">Developer:</label>
            <input class="col-md-2 details-checkbox" type="checkbox" ng-model="person.isDev">
        </div>
        <div class="form-group">
            <label class="control-label col-md-6">WebOps:</label>
            <input class="col-md-2 details-checkbox" type="checkbox" ng-model="person.isWeb">
        </div>
        <div class="form-group">
            <label class="control-label col-md-6">Tester:</label>
            <input class="col-md-2 details-checkbox" type="checkbox" ng-model="person.isTest">
        </div>
        <hr>
        <div class="form-group">
            <label class="col-md-4 control-label">Band level:</label>
            <div class="col-md-8">
                <div class="ui-select">
                    <select class="form-control" ng-model="person.bandLevel" ng-options="key as value for (key, value) in BandLevelEnum" ng-init="person.bandLevel = '6';">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">E-mail:</label>
            <div class="col-md-8">
                <input class="form-control input" type="email" ng-model="person.email" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">First name:</label>
            <div class="col-md-8">
                <input class="form-control input" type="text" ng-model="person.firstName" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Last name:</label>
            <div class="col-md-8">
                <input class="form-control input" type="text" ng-model="person.lastName" required/>
            </div>
        </div>
        <div class="center btn-wrapper">
            <input class="btn btn-primary" type="submit" ng-click="create(person)" value="Submit"
               ng-disabled="form.$invalid || createInterviewerPromise.resolved"/>
            <input class="btn btn-default" type="button" value="Cancel" ng-click="goHome()">
        </div>
    </form>
</div>