<nav class="navbar navbar-default ">
    <div class="container">
        <a class="navbar-brand">Kainos - Recruitment helper</a>
        <div class="login navbar-left" ng-show="userLoggedIn">
            <div ng-show="user.isRecruiter">
                <a ui-sref="tdpr.recruiter.home" class="navbar-text">All availabilities</a>
                <a ui-sref="tdpr.report.home" class="navbar-text">Reports</a>
                <a ui-sref="tdpr.recruiter.manageUsers" class="navbar-text">Manage users</a>
                <a ui-sref="tdpr.recruiter.candidates" class="navbar-text">List of candidates</a>
            </div>
            <div ng-hide="user.isRecruiter">
                <a ui-sref="tdpr.interviewer.home({id: user.id})" class="navbar-text">Your availability</a>
            </div>
        </div>
        <div class="login navbar-right" ng-show="userLoggedIn">
            <p class="navbar-text">Hello, {{user.firstName}} {{user.lastName}} </p>
            <a ng-click="logout()" class="navbar-text">Sign out</a>
        </div>
        <div class="login navbar-right" ng-show="!userLoggedIn">
            <a ui-sref="tdpr.login" class="navbar-text">Sign in</a>
        </div>
    </div>
</nav>