<nav class="navbar navbar-default ">
    <div class="container">
        <a class="navbar-brand">Kainos - Recruitment helper</a>
        <div class="login navbar-left" ng-show="userLoggedIn">
            <div ng-show="user.isRecruiter">
                <a class="navbar-text navbar-link" ui-sref="tdpr.recruiter.home">Availabilities</a>
                <a class="navbar-text navbar-link" ui-sref="tdpr.report.home">Reports</a>
                <a class="navbar-text navbar-link" ui-sref="tdpr.recruiter.manageUsers">Manage users</a>
                <a class="navbar-text navbar-link" ui-sref="tdpr.recruiter.addPerson">Add user</a>
                <a class="navbar-text navbar-link" ui-sref="tdpr.recruiter.candidates">List of candidates</a>
            </div>
            <div ng-hide="user.isRecruiter">
                <a class="navbar-text navbar-link" ui-sref="tdpr.interviewer.home({id: user.id})">Your availability</a>
                <a class="navbar-text navbar-link" ui-sref="tdpr.interviewer.details({id: user.id})">Personal details</a>
            </div>
        </div>
        <div class="login navbar-right" ng-show="userLoggedIn">
            <p class="navbar-text">Hello, <a class="navbar-link" tooltip-placement="bottom" uib-tooltip="Personal details" ui-sref="tdpr.interviewer.details({id: user.id})">{{user.firstName}} {{user.lastName}}</a></p>
            <a class="navbar-text navbar-link" ng-click="logout()">Sign out</a>
        </div>
        <div class="login navbar-right" ng-show="!userLoggedIn">
            <a class="navbar-text navbar-link" ui-sref="tdpr.login">Sign in</a>
        </div>
    </div>
</nav>