<div class="form-group">
    <label class="control-label col-md-6">New password:</label>
    <div class="col-md-4">
        <input class="form-control" type="password" ng-model="newPersonPassword"/>
        <ul>
            <span ng-hide="isPasswordValid">Password requires at least: </span>
            <li ng-hide="isPasswordValid" ng-repeat="clue in passwordClues">{{clue}}<br></li>
        </ul>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-6">Confirm password:</label>
    <div class="col-md-4">
        <input class="form-control" type="password" ng-model="confirmPassword"/>
        <span ng-show="arePasswordsDifferent">Passwords are different!</span>
    </div>
</div>