body {
    background-color: transparent;
}

.background:before{
	content: ' ';
	display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.2;
	background: url('../images/kainos_desktop.jpg') no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1.interviewer-header {
   font-size: 48px;
   color: #375D81;
}

.container {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.availability-table {
    display: inline-block;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #375D81;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    user-select: none;           /* Non-prefixed version*/
}

.legend {
    margin-top: 30px;
    font-size: 18px;
    color: #375D81;
}

.legend label {
    margin-right: 3rem;
    vertical-align: middle;
}

.legend-block {
    display: inline-block;
    height: 18px;
    width: 20px;
    vertical-align: middle;
    border-radius: 5px;
}

.availability-table tbody td, .availability-table thead th {
    width: 120px;
    height: 30px;
}

.availability-table th {
    color: white;
    text-align: center;
    background-color: #375D81;
}

.availability-table td {
    border: 1px solid #375D81;
    border-bottom: 0px;
}

.availability-table td:hover {
    cursor: pointer;
    border: solid white;
}

#hours-th {
    color: #375D81;
    background-color: white;
    border-top-left-radius: 5px;
}

.slot-time {
    font-weight: bold;
    font-size: 18px;
    background-color: #ABC8E2;
    color: white;
}

.slot-time:hover {
    background-color: white;
    color: #375D81;
}

.navigate1 {
     display: inline-block;
     color: #3498DB;
}

#submit-slots {
    width: 725px;
    margin: auto;
}

.alert {
    position: fixed;
    top:0;
}

#date-container span {
    font-size: 25px;
    line-height: 25px;
    margin: 0px 25px 0px 25px;
    vertical-align: middle;
}

#description {
    color: #3498DB;
}

.button {
    border-radius: 5px;
    border: 1px solid #3498DB;
    background-color: transparent;
    width: 110px;
}

.button:hover {
    background-color: #3498DB;
    color: white;
}

#submit-button {
    border-radius: 5px;
    width: 200px;
    height: 100px;
    padding: 5px 10px 5px 10px;
    background-color: #375D81;
    color: white;
    border: 1px solid #375D81;
}

#submit-button:hover {
    background-color: white;
    color: #375D81;
    cursor: pointer;
}

#date-container {
    margin-top: 30px;
}

button {
    outline:none;
}

#discard-btn {
    background: transparent;
    color: #286090;
}

#discard-btn:hover {
    background: #286090;
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

.disabled-textarea {
    background: #D3D3D3;
}

.mouse-pointer{
    cursor: pointer;
}

/* interviewer details and adding interviewer*/
#interviewer-details-h1 {
  font-size: 48px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #375D81;
}

.interviewer-form {
  display: inline-block;
}

.interviewer-form label {
  font-weight: normal;
  margin: auto;
}

.center {
  text-align: center;
}

.form-group {
  text-align: left;
}

.error-container {
  color: red;
}

.btn-wrapper {
  width: 100%;
}

.details-checkbox {
  margin-top: 12px !important;
}

.input {
  width: 100%;
}