 h1 {
    font-size: 48px;
}
.container {
    text-align: center;
}
.availability-table {
    display: inline-block;
    margin-top: 20px;
}

table, td, tr {
    border: 1px solid black;
}
.available-slot {
    background-color: #87D37C;
}

.maybe-available-slot{
    background-color: #B0BEC5;
}

.unavailable-slot{
    background-color: #F44336;
}

.availability-table tbody td, .availability-table thead th{
    width: 120px;
    height: 30px;
}
.availability-table th{
    text-align: center;
        border: 2px solid black;

}
.slotTime{
    font-weight: bold;
    font-size: 18px;
    border: 2px solid black;
    background-color: #89C4F4;

}

.navigate {
     display: inline;
}

#submit-slots{
    width: 725px;
    margin: auto;
}