html, body {
    height: 100%;
}

#content {
    /* Margin bottom by footer height */
    min-height: 100%;
    padding-bottom: 80px;
}

footer {
    position: relative;
    margin-top: -60px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    clear: both;
    padding-top: 10px;
}

.content {
    overflow: auto;
    max-height: 75vh;
}

html {
    background-color: transparent;
}

h2 {
    margin-top: 0;
    border-bottom: 1px solid #aaa;
    font-size: 0.9em;
    color: #808080;
}

.cell-avail-empty {
    background-color: #ffffff;
}

.cell-avail-available {
    background-color: #87D37C;
}

.cell-avail-unavailable {
    background-color: #F44336;
}

.cell-avail-maybe {
    background-color: #B0BEC5;
}

.cell-avail-init {
    background: #FFEB3B;
}

.cell-avail-full {
    background: #AB47BC;
}

.cell-selected {
    background-color: cyan;
}

.center {
    text-align: center;
}