.table-wrapper {
    height: 80%;
    width: 80%;
    margin: auto;
}

.table-wrapper table {
    height: 100%;
    width: 100%;
}

#manage-users-header {
    font-size: 48px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #375D81;
}

.table-wrapper th {
    font-size: 24px;
}