.rotate {
    transform: /* Magic Numbers */ translate(0px, 0px) /* 45 is really 360 - 45 */ rotate(270deg);
    width: 15px;
    text-align: right;
    margin-top: 25px;
    margin-bottom: 5px;
    display: inline-block;
}

.rotate > span {
    white-space: nowrap;
}

.slot {
    min-width: 16px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #375D81;
}

.slot:hover {
    background-color: cornsilk;
}

.availabilities-table-container {
    min-width: 800px;
    overflow-x: auto;
    margin-left: 140px;
    overflow-y: visible;
    padding-bottom: 1px;
}

.container {
    position: relative;
    font-family: 'Lato', sans-serif;
}

.person-name {
    width: 150px;
    position: absolute;
    left: 0;
    text-align: right;
    margin: 0;
    padding-right: 5px;
    color: #375D81
}

#recruiter-header {
    color: #375D81
}

.day-th, .slot-time-th {
    background-color: #375D81;
    color: white;
    font-weight: bold;
}


.availabilities-table {
    border: 2px solid black;
}


.cell-size-3 {
    width: 50px;
}
.cell-size-4 {
    width: 38px;
}
.cell-size-5 {
    width: 30px;
}
.cell-size-6 {
    width: 25px;
}
.cell-size-7 {
    width: 22px;
}
.cell-size-8 {
    width: 19px;
}
.cell-size-9 {
    width: 17px;
}