.rotate {
    transform: /* Magic Numbers */ translate(0px, 0px) /* 45 is really 360 - 45 */ rotate(270deg);
    width: 15px;
    text-align: right;
    margin-top: 25px;
    margin-bottom: 5px;
    display: inline-block;
}

.rotate > span {
    white-space: nowrap;
}

.slot {
    min-width: 25px;
    height: 29px;
    cursor: pointer;
    border: 1px solid #375D81;
}

.slot-span {
    display: block;
    width: 100%;
    height: 100%;
}

.availabilities-table-container {
    min-width: 800px;
    overflow-x: auto;
    margin-top: 20px;
    margin-left: 245px;
    overflow-y: visible;
    padding-bottom: 1px;
}

.container {
    width: 95%;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.person-name {
    width: 261px;
    position: absolute;
    left: 0;
    text-align: right;
    margin: 0;
    padding-right: 5px;
    color: #375D81;
    cursor: pointer;
    font-size: medium;
}



.changes-button {
    font-size: smaller;
}

#recruiter-header {
    color: #375D81
}

#current-week-btn {
    color: #fff;
    background-color: #337ab7;
    position: absolute;
    left: 10%;
}

#add-interviewer-btn {
    font-size: larger;
}

#reports-btn {
    font-size: larger;
}

.day-th, .slot-time-th {
    background-color: #375D81;
    color: white;
    font-weight: bold;
}

.slot-times-th {
    width: 100%;
    padding: 0 10px 0 10px;
    border-right: 1px solid #233c54;
    border-top: 1px solid #233c54;
    border-left: 1px solid #233c54;
}

.day-th {
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
}

.availabilities-table-container .day-th {
    font-size: large;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.availabilities-table {
    border: 2px solid black;
}

.form-inline .navigate1 {
    margin: 20px;
}

.person-name-text .tooltip-inner {
    white-space: pre-wrap;
    min-width: 150px;
    max-width: 400px;
}

.slot .tooltip-inner {
    white-space: pre-wrap;
}

.person-name-text, .person-name-buttons {
    display: inline;
}

.cell-size-1 {
    width: 211px;
}
.cell-size-2 {
    width: 108px;
}
.cell-size-3 {
    width: 73px;
}

.cell-size-4 {
    width: 55px;
}

.cell-size-5 {
    width: 44px;
}

.cell-size-6 {
    width: 37px;
}

.cell-size-7 {
    width: 31px;
}

.cell-size-8 {
    width: 27px;
}

.red {
    color: red;
}

.glyphicon-ok {
    color: green;
}

.glyphicon-remove {
    color: #b20000;
}
