#report-table {
    width: 100%
}

#report-table .day-th:first-child {
  border-top-left-radius: 10px;
}

#report-table .day-th:last-child {
  border-top-right-radius: 10px;
}

.column-heading {
    cursor: pointer;
}

.sort-order:after {
  content: '\25b2';   /* BLACK UP-POINTING TRIANGLE */
}

.sort-order.sortReverse:after {
  content: '\25bc';   /* BLACK DOWN-POINTING TRIANGLE */
}

.hour-cell {
    cursor: auto;
    text-align: center;
}

.options{
    margin-top:2%;
    margin-bottom:2%;
}

#back-btn {
    font-size: larger;
}

.report-date {
  font-size: 24px;
}

.options-wrapper {
  display: inline-block;
}

.options-wrapper .control-label {
  line-height: 34px;
}

